<div class="main">
  <h2 class="second">ようこそ</h2>
  <p class="second_letter">
    こちらからお入りください
  </p>
  <p class="arrow">
        ↓
  </p>
  <p class="spot">
  <%= link_to "各地隠れスポット！！", root_path, class: "spot_btn" %>
    <%= image_tag "/assets/taka_image.png", class: "img_taka" %>
  </p>         
</div>