<div class="main">
  <h2 class="second">ようこそ</h2>
  <p class="second_letter">
    こちらからお入りください
  </p>
  <p class="arrow">
        ↓
  </p>
  <p class="spot">
  <%= link_to "全国各地おすすめスポット！！", posts_path, class: "spot_btn" %>
    <%= image_tag "/assets/taka_image.png", class: "img_taka" %>
  </p>
  <div class="word">
    ぜひおすすめの場所がありましたらご協力お願い致します！
  </div>         
</div>